<style>

.branch{
	margin:0 0 5px 0;
}
.branch .branchname {
	display:inline-block;
	height:200px;
	width:10%;
	border-top: 2px black;
	background-color:#D5BF8A;	
	float: left;
}
.branch .up{
	display: inline-block;
	width:45%;
	height:200px;
	background-color:green;
	float: left;
}
.branch .down {
	display:inline-block;
	width:45%;
	height:200px;
	background-color: #C4E2EA;
	float: left;
}
.branch .features{
	display:inline;
}
.branch .features img{
	width:40px;
	height:40px;
}
.branch .up a {
	color:white;
}

.feature {
	margin-top:10px;
	clear:both;
	width:99%;
	background-color:#EEE;
	border: solid 2px #FFF;
	overflow-y:auto;
	border:0;
}
.feature-box {
	display: inline-block;
	width:130px;
	height:130px;
	border: solid 1px red;
}
.feature-box .merge,.feature-box .core{
	display: inline-block;
	width:40px;
	height:40px;
	margin:0;
	padding: 0;
	background-color: #EEE;
}
.feature .core img , .feature .merge img{
	width:40px;
	height:40px;
}
.feature-box .core-center {
	border-radius: 500px;
	border: solid 1px #0088cc;
}


</style>
{% for branch in branches %}
<div class="branch">
	<div class="branchname">
		<p>{{branch["name"]}}</p>
	</div>
	<div class="up">
		<div class="features">
			{% for feature in branch["feature"][0]%}
			<a href="/branch/{{feature.ID}}/edit" alt="">
			{% if feature.IMG %}
			<img src="{{feature.IMG}}"  title="{{feature.DESCS}}">
			{%else %}
			<p title="{{feature.DESCS}}">{{feature.NAME}}<p>
			{%end %}
			</a>
			{% end%}
		</div>
	</div>
	<div class="down">
		<div class="features">
			{% for feature in branch["feature"][1]%}
			<a href="/branch/{{feature.ID}}/edit" alt="">
			{% if feature.IMG %}
			<img src="{{feature.IMG}}"  title="{{feature.DESCS}}" class="img-circle">
			{%else %}
			<p title="{{feature.DESCS}}">{{feature.NAME}}<p>
			{%end %}
			</a>
			{% end%}
		</div>
	</div>
</div>
{% end %}
<div class="feature">
	
{% for feature in features %}
<div class="feature-box">
	<div class="core">
		<a href="/branch/{{feature.ID}}/edit" alt="">
		{% if feature.IMG %}
		<img src="{{feature.IMG}}"  title="{{feature.DESCS}}" class="img-circle">
		{%else %}
		<p title="{{feature.DESCS}}">{{feature.NAME}}<p>
		{%end %}
		</a>
	</div>
	{% for merge in feature.merges %}
	<div class="merge">
		<a href="/branch/{{feature.ID}}/edit" alt="">
		{% if feature.IMG %}
		<img src="{{feature.IMG}}"  title="{{feature.DESCS}}" class="img-circle">
		{%else %}
		<p title="{{feature.DESCS}}">{{feature.NAME}}<p>
		{%end %}
		</a>
	</div>
	{% end%}
</div>
{% end%}
</div>
<script>


$(function(){
	$(".feature-box").map(function(index, featureBox){
		var children = featureBox.children;
		if (children.length > 4){
			var core = children[0];
			featureBox.insertBefore(core,  children[5])
			core.className += " core-center";
		}
	})
})



</script>

